.wrapper-main {
    width: 70%;
    display: flex;
    margin: auto;
}

.choose-content {
    display: flex;
    align-items: center;
}

.choose-content p {
    font-size: 20px;
}

.choose-image img{
    height: 400px;
}

@media screen and (max-width:800px) {
    .wrapper-main {
        width: 80%;
    }

    .choose-content p {
        font-size: 17px;
        text-align: left;
    }

}

@media screen and (max-width:600px) {
    .wrapper-main {
        flex-direction: column;
        
    }
}